:root {
    --background-color: #292C36;
    --primary-color: #3A3E49;
    --primary-color-active: #3A3E49A3;
    --secondary-color: #2c2f3b;
    --secondary-color-active: #1f2128;
    --green-color: #4E9735;
    --green-color-active: #3A7A26;
    --orange-color: #CC913E;
    --orange-color-active: #A87A2B;
    --red-color: #C93B3B;
    --red-color-active: #A82B2B;
    --blue-color: #43c5d6;
    --blue-color-active: #2998a7;
    --purple-color: #495afc;
    --purple-color-active: #2f3f9f;
    --font-color: #fff;
    --font-color-secondary: #b3b3b3;
    --font-color-tertiary: #8c8c8c;
}


:root {
    --background-color: #292C36;
    --primary-color: #3A3E49;
    --primary-color-active: #3A3E49A3;
    --secondary-color: #2c2f3b;
    --secondary-color-active: #1f2128;
    --green-color: #4E9735;
    --green-color-active: #3A7A26;
    --orange-color: #CC913E;
    --orange-color-active: #A87A2B;
    --red-color: #C93B3B;
    --red-color-active: #A82B2B;
    --blue-color: #43c5d6;
    --blue-color-active: #2998a7;
    --purple-color: #495afc;
    --purple-color-active: #2f3f9f;
    --font-color: #fff;
    --font-color-secondary: #b3b3b3;
    --font-color-tertiary: #8c8c8c;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color);
    color: var(--font-color);
    overflow: hidden;
    background-image: url("/img/Backgrounds/DOOMEternal 02_04_2024 22_36_28.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menuBody {
    display: flex;
    justify-content: center;
}

.mainButton {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}